# requirements_jedi.txt
# Install these if you want to train the mediapipe gesture recognition model yourself.

numpy==1.26.4
scipy==1.15.1
mediapipe==0.10.21
opencv-python-headless==4.11.0.86
websockets==14.1
aiohttp==3.9.3