.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  display: flex;
  text-align: center;
}

.flex-col {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.no-gap {
  gap: 0 !important;
}

.flex-row {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

.h-full {
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr; /* default: single column */
  gap: 16px;
}

@media (min-width: 1800px) {
  .grid-container {
    grid-template-columns: 1fr 1fr; /* two columns when screen is wider than 600px */
  }
}

.bordered-table {
  border-collapse: collapse;
}

.bordered-table tr td,
.bordered-table tr th {
  border: 1px solid #cfcfcf;
  padding: 4px;
}

.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}

.window-button {
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
}

.float-up-right {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.float-right {
  float: right;
}

.align-left {
  text-align: left;
}

.gray {
  color: gray;
}
